@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
.App {
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background: #343A40;
  background: -webkit-gradient(linear, left bottom, left top, from(#343A40), color-stop(90%, #f8f9fa));
  background: linear-gradient(0deg, #343A40 0%, #f8f9fa 90%);
}

.home{
  min-height: 100vh;
}

.home-img{
  background-image: url('https://images.unsplash.com/photo-1460317442991-0ec209397118?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80');
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.CalculatorCard {
  min-height: 100vh;
}

div.card {
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.mapWrapper {
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

div.react-datepicker__wrapper {
  background-color: white;
  height: 37px;
  border-radius: 3px;
}

.main-navigation {
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

a.NavLinks.nav-link {
  font-family: 'Comfortaa', cursive;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin: 0rem 1rem;

}

a.NavLinks.nav-link:hover {
  background-color: #343A40;
  border-radius: 10px;
}

.appHeader {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 22px;
  padding-top: 15px;
}

div.ant-input-number-handler-wrap {
  display: none;
}

.LoanCard {
  margin: 1rem 0rem;
  cursor: pointer;
}

label.form-label {
  font-size: 16.5px;
}

#LoanAddress {
  font-weight: 600;
  font-size: 16.5px;
}

#LoanAddress:hover {
  color: #1A7BFF;
}

/* .AllLoans{
  min-height: 110vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
} */
div.SingleLoan.Card {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.SingleLoan {
  min-height: 100vh;
}

div.react-date-picker__wrapper {
  background-color: white;
  height: 36px;
  border-radius: 3px;
}

div.react-date-picker__inputGroup {
  font-size: 16.5px;
  width: 100% !important;
}

/* .react-date-picker__button{
  padding: 2px, 2px !important;
} */
div.react-date-picker__inputGroup.react-date-picker__inputGroup__input.react-date-picker__inputGroup__year {
  max-width: 45px !important;
}

.react-date-picker__inputGroup__input.react-date-picker__inputGroup__day {
  max-width: 25px !important;
}

.react-date-picker__inputGroup__input.react-date-picker__inputGroup__month {
  max-width: 23px !important;
}

/* svg.react-date-picker__clear-button__icon.react-date-picker__button__icon{
  display: none;
} */
.notification-container {
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button.btn {
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.processDiv {
  margin: 0 auto;
}

div.ant-input-number {
  border-radius: 3px;
}

input.form-control {
  border-radius: 3px;
}

.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
/*# sourceMappingURL=App.css.map */

.align-center{
  margin: 0 auto;
}