.App {
  text-align: center;
  justify-content: center;
  
}

.CalculatorCard{
  min-height: 100vh;
}

div.react-datepicker__wrapper{
margin: 25px;

}


/* background: rgb(185,135,87);
background: linear-gradient(0deg, rgba(185,135,87,1) 0%, rgba(255,255,255,1) 100%); */

body{
  background: rgb(185,135,87);
  background: linear-gradient(0deg, rgba(185,135,87,1) 0%, rgba(255,255,255,1) 90%);

}