.App {
  text-align: center;
  justify-content: center;
  
}

/* body{
  background: rgb(185,135,87);
  background: linear-gradient(0deg, rgba(185,135,87,1) 0%, rgba(255,255,255,1) 90%);

} */

.CalculatorCard{
  min-height: 100vh;
}

div.react-datepicker__wrapper{
margin: 25px;

}

#nav-dropdown{
  /* background-color: #D9BEA3; */
}


div.ant-input-number-handler-wrap{
  display: none;
}

.CurrecyInput{
  
}